/*  [TOPOGRAPHY]  */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 1.3rem 0;
}

p {
  line-height: inherit;
  margin: 1.3rem 0;
}

ul {
  list-style-type: none;
}
