/*  [UTILITIES]  */

.container {
  padding: 0 7rem;
}

.h1 {
  font-size: 4rem;
}
.h2 {
  font-size: 3.5rem;
}
.h3 {
  font-size: 2.5rem;
}
.h4 {
  font-size: 1.5rem;
}
.h5 {
  font-size: 1rem;
}

.img-resp {
  width: 100%;
  height: auto;
}
