/*  [BUTTONS AND LINKS]  */

.btn,
a:link.btn,
button.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 1.3rem;
  border: none;
  background-color: $pry-color;
  color: $white;

  &:hover {
    background-color: $pry-color;
  }

  &-link {
    color: $pry-color;
  }

  &:focus {
    outline: none;
  }

  &--round {
    // border: none;
    border-radius: 0.4rem;
  }

  &--outline-round {
    border: 0.5rem solid $pry-color;
  }
}
