.container {
  padding: 0 7rem;
}

.h1{
    font-size: 5rem;
}

.h2 {
    font-size: 4rem;
}

.h3 {
    font-size: 3rem;
}

.h4 {
    font-size: 2rem;
}

.h5 {
    font-size: 1rem;
}

.img-resp {
    width: 100%;
    height: auto;
}